---
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';

import { type CollectionEntry, getCollection, getEntries } from 'astro:content';

const movies = (await getCollection('movie'))
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#dc2626">
    <meta name="theme-color" content="#0ed3cf">

    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="google-adsense-account" content="ca-pub-1477830203682344">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>YMovies</title>
  </head>
  <body class="bg-gray-200">
    <div>
      <div class="flex-col justify-center items-center bg-cover bg-center">
        <div class="mt-5 ml-5">
          <h1 class="text-red-600 font-bold font-sans text-2xl">YMovies</h1>
        </div>
        <div class="space-y-5 max-w-screen-sm mx-auto mt-10">
          <p class="font-bold text-5xl flex flex-col items-center">
          <span>Unlimited movies and more,<br /></span>
          <span> for free. </span>
          </p>
          <p class=" font-semibold text-3xl flex flex-col items-center">Watch anywhere. No card required.</p>
          <p class=" text-lg flex flex-col items-center">Ready to watch? Search a good movies and enjoy.</p>
          <button class="p-4 text-l font-semibold bg-red-600 hover:bg-red-700 text-white">Get Started</button>
        </div>

        <section class="w-full mt-40">

          <div class="mx-auto max-w-screen-lg grid lg:grid-cols-5 mg:grid-cols-4 gap-4 px-5">
            {
            movies.map((movie) => (
            <a href={`/movies/${movie.data.slug}`} class="w-full rounded-md overflow-hidden border pb-2">

            {movie.data.thumbnail && <Image inferSize={true} src={movie.data.thumbnail} alt={movie.data.name} />}
            <h3 class="px-2">{movie.data.title}</h3>

          </a>
          ))}
            }
          </div>
        </section>
      </div>
      <Footer />
    </div>
  </body>
</html>

