---
import type { CollectionEntry } from 'astro:content';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'movie'>['data'];

const { title, name, vid, description,related, publishedAt, thumbnail } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="google-adsense-account" content="ca-pub-1477830203682344" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1477830203682344"
  crossorigin="anonymous"></script>
  </head>

  <body class="">
    <main class="">
      <article class="max-w-screen-lg m-auto border mt-2 mb-5 pb-5">
        {thumbnail && <img width={1020} height={510} src={thumbnail} alt={name} />}

        <div class="title mb-4 mt-3 px-5">
          <h1 class="text-4xl font-bold">{name}</h1>

          <a href={`/watch/${vid}`} class="inline-flex items-center bg-red-600 text-white px-4 py-2 rounded font-bold text-lg hover:bg-red-700">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-2">
              <path d="M8 5v14l11-7z"/>
            </svg>
            Watch Now
          </a>


        </div>
        <div class="px-5 p-2">
          <p class="text-gray-500">{publishedAt}</p>
        </div>
        <div class="content px-5">
          <slot />
        </div>

        <h2 class="text-2xl font-bold mt-10 px-5">Related</h2> 

        <div class="grid grid-cols-5 gap-4 px-5">

          {related.map(movie => (
          <a href={movie.id} class="w-full rounded-md overflow-hidden border pb-2">

            {movie.data.thumbnail && <img width="100%" height={510} src={movie.data.thumbnail} alt={movie.data.name} />}
            <h3 class="px-2">{movie.data.title}</h3>

          </a>
          ))}
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
