---
import type { CollectionEntry } from 'astro:content';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'movie'>['data'];

const { title, name, vid, description,related, publishedAt, thumbnail } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1477830203682344"
     crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-1477830203682344">
  </head>

  <body class="bg-black text-white">
    <main class="">
      <article class="max-w-screen-lg m-auto mt-2 mb-5 pb-5">
        <iframe 
               width="1020" 
                      height="510" src={`https://www.youtube.com/embed/${vid}`} title="" 
                                                                                frameBorder="0"  
                                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"  allowFullScreen>
        </iframe>


        <div class="title mb-4 mt-3 px-5">
          <h1 class="text-4xl font-bold">{name}</h1>
        </div>
        <div class="px-5 p-2">
          <p class="text-gray-500">{publishedAt}</p>
        </div>
        <div class="content px-5">
          <slot />
        </div>

        <h2 class="text-2xl font-bold mt-10 px-5">Related</h2> 

        <div class="grid grid-cols-5 gap-4 px-5">

          {related.map(movie => (
          <a href={movie.id} class="w-full rounded-md overflow-hidden border pb-2">

            {movie.data.thumbnail && <img width="100%" height={510} src={movie.data.thumbnail} alt={movie.data.name} />}
            <h3 class="px-2">{movie.data.title}</h3>

          </a>
          ))}
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
